@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}
body{
    background-color: #ce70e6;
}
.container{
    width: 98%;
    margin: auto;
    padding-top: 20px;
    display: flex;
}
.left-content,.right-content{
    flex-basis: 60%;
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap:3rem;
}
.card{
    width: 100px;
    background-color:#839921;
    border-radius: 1rem;
    box-shadow: 0px 5px 5px rgba(82, 75, 75, 0.5);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.right-content{
    width: 30%;
    text-align: center;
    color: black;
    position: fixed;
    top:10px;
    right: 190px;
}
.right-content img{
    margin: 1.5rem;
    height: 160px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #45a6b7;
    color: rgb(22, 21, 21);
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.base-stat{
    margin-top: 2rem;
}

.btn-group button{
    width: 100px;
    padding: 0.3rem 0;
    margin: 0.5rem;
    font-size: 17px;
    font-weight: bold;
    color: rgb(20, 20, 20);
    background-color: #4593b7;
    border-radius: 8px;
}